<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reminders</title>
</head>
<body>
  <main>
    <div>
      {% for todoitem in todo_list_item %}
      <h1>{{ todolist.name }}</h1>
      {% endfor %}
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
        {% for todoitem in todoitem  %}
            <tr>
              <td>{{ todolist.task }}</td>
              <td>{{ todoitem.due_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
</body>
</html>
